/* Global Styles & Colors */
:root {
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #ffffff;
  --black: #212121;
  /* Colorblind colors */
  --orange: #f5793a;
  --blue: #85c0f9;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  --header-height: 50px;
  --keyboard-height: 132px;
  --game-max-width: 800px;
  --color-tone-1: #1a1a1b;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --opacity-50: rgba(255, 255, 255, 0.5);
  --color-background: var(--color-tone-7);
  --color-present: var(--yellow);
  --color-correct: var(--green);
  --color-absent: var(--color-tone-2);
  --tile-text-color: var(--color-tone-7);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-7);
  --key-bg: var(--color-tone-4);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7);
}

.nightmode {
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --opacity-50: rgba(0, 0, 0, 0.5);
  --color-background: var(--color-tone-7);
  --key-bg: var(--color-tone-2);
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  /* Prevent scrollbar appearing on page transition */
  overflow-y: hidden;
}

#game {
  width: 100%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  color: var(--color-tone-1);
  border-bottom: 1px solid var(--color-tone-4);
}
header .title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}

@media (max-width: 360px) {
  header .title {
    font-size: 22px;
    letter-spacing: 0.1rem;
  }
}

.menu svg {
  cursor: pointer;
  padding: 0 4px;
}

.game-icon {
  position: absolute;
  right: 0;
  user-select: none;
  cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .content {
    max-width: 100%;
    padding: 0;
  }
  .game-icon {
    padding: 0 16px;
  }
}


#game-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.game-container {
  flex-grow: 1;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding:10px;
  box-sizing: border-box;
}

.game-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.game-tile {
  width: 100%;
  border: 2px solid var(--color-tone-4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--tile-text-color);
  text-transform: uppercase;
  user-select: none;
  transform: rotateX(0);
  transition: transform .25s ease-in-out;
}
@media (max-height: 600px) {
  .game-tile, .stage-tile {
    font-size: 1em;
    line-height: 1em;
  }
}
#solution-container .game-tile {
  color: var(--color-tone-1);
}
.game-tile.current {
  border: 2px solid var(--color-tone-1);
}
.game-tile[data-state='tbd'] {
  background-color: var(--color-tone-7);
  border: 2px solid var(--color-tone-3);
  color: var(--color-tone-1);
}
.game-tile[data-state='correct'] {
  background-color: var(--color-correct);
  border: none;
}
.game-tile[data-state='present'] {
  background-color: var(--color-present);
  border: none;
}

.keyboard {
  max-height: var(--keyboard-height);
  margin: 0 8px;
  user-select: none;
}

.row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
  touch-action: manipulation;
}

button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: var(--key-bg);
  color: var(--color-tone-1);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

button:focus {
  outline: none;
}

button.fade {
  transition: background-color 0.1s ease, color 0.1s ease;
}

button:last-of-type {
  margin: 0;
}

.half {
  flex: 0.5;
}

.one {
  flex: 1;
}

.one-and-a-half {
  flex: 1.5;
  font-size: 12px;
}

.two {
  flex: 2;
}

button[data-state='correct'] {
  background-color: var(--key-bg-correct);
  color: var(--key-evaluated-text-color);
}

button[data-state='present'] {
  background-color: var(--key-bg-present);
  color: var(--key-evaluated-text-color);
}

#overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  background-color: var(--color-background);
  z-index: 2000;
  transition: top 300ms linear;
}

#overlay header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  color: var(--color-tone-1);
  padding: 0 32px;
  max-width: var(--game-max-width);
  width: 100%;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.examples {
    border-bottom: 1px solid var(--color-tone-4);
    border-top: 1px solid var(--color-tone-4);
  }

  .example {
    margin-top: 24px;
    margin-bottom: 24px;
  }

.example .game-row {
  max-width: fit-content;
}

  #help .game-tile {
    width: 40px;
    height: 40px;
  }

#settings > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-tone-4);
  padding: 16px 0;
}

#stage {
  display: flex;
  flex-flow: row;
}
.stage-tile {
  width: calc(2rem + 2px);
  height: calc(2rem + 2px);
  padding: 3px;
  color: var(--color-tone-5);
  background-color: var(--color-tone-2);
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  user-select: none;
}
.stage-tile.selected {
  background-color: var(--color-correct);
  color: var(--color-tone-7);
}
.stage-tile:hover {
  cursor: pointer;
}


    .switch {
      height: 20px;
      width: 32px;
      vertical-align: middle;
      /* not quite right */
      background: var(--color-tone-3);
      border-radius: 999px;
      display: block;
      position: relative;
    }
    .knob {
      display: block;
      position: absolute;
      left: 2px;
      top: 2px;
      height: calc(100% - 4px);
      width: 50%;
      border-radius: 8px;
      background: var(--white);
      transform: translateX(0);
      transition: transform 0.3s;
    }
    .control.checked .switch {
      background: var(--color-correct);
    }
    .control.checked .knob {
      transform: translateX(calc(100% - 4px));
    }
    .control.disabled .switch {
      opacity: 0.5;
    }

div#hardsetting {
  display: none;
}

#resetdialog {
  display: none;
  position: absolute;
  width: 250px;
  top: 60px;
  left: 0;
  z-index: 3000;
  background-color: var(--color-tone-7);
  color: var(--color-tone-1);
  border-radius: 5px;
  border: 3px solid var(--color-tone-2);
}

#dialog {
  display: none;
  position: absolute;
  width: 250px;
  top: 60px;
  left: 0;
  z-index: 1000;
  background-color: var(--color-tone-7);
  color: var(--color-tone-1);
  border-radius: 5px;
  border: 3px solid var(--color-tone-2);
}

#dialog div, #dialog p {
  margin: 12px;
  text-align: center;
}